body {
    background-color: dodgerblue;
  }
  .mainb {
    /* border: 1px solid red; */
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bod {
    /* border: 1px solid black; */
    text-align: center;
  }
  #pb {
    border: 1px solid white;
    color: white;
    padding: 22px;
    font-size: 22px;
    font-family: roboto;
  }
  #pe {
    color: white;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 12px;
  }
  .bt {
    background-color: white;
    color: dodgerblue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    border-radius: 5px;
  }